body {
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 81vh;
    color: #85817d;
}

.quadrado {
    width: 1000px;
    height: auto;
    backgound: url("allstar.jpg");
    border-radius: 10px;
    gap: 20px;
}

/* Estilo da imagem em preto e branco */
.galeria-filmes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 150px;
  height: 225px;
  border-radius: 9px;
  gap: 20px;
            
  /* Aplica filtro preto e branco */
  filter: grayscale(100%);
            
  /* Transição suave */
  transition: filter 0.3s ease;
}

/* Ao passar o mouse, remove o filtro (volta as cores) */
.galeria-filmes:hover {
  filter: grayscale(0%);
}
