* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  backgound: #8b9495;
  border-radius: 20px;
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 25px;
  justify-items: center;
}

/* Estilo da imagem em preto e branco */
.card {
  position: relative;
  width: 150px;
  height: 225px;
  border-radius: 9px;
  gap: 20px;
  overflow: hidden;
            
  /* Aplica filtro preto e branco */
  filter: grayscale(100%);
            
  /* Transição suave */
  transition: filter 0.3s ease;
}

/* Ao passar o mouse, remove o filtro (volta as cores) */
.card:hover {
  filter: grayscale(0%);
}
