body {
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 81vh;
  backgound-color: #0d0d0d;
  padding: 30px;
}

.grid {
  display: flex;
  color: #8b9495;
  flex-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  border-radius: 10px;
  gap: 25px;
}

/* Estilo da imagem em preto e branco */
.card {
  position: relative;
  width: 150px;
  height: 225px;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  gap: 7px;
  overflow: hidden;
            
  filter: grayscale(100%);  /* Aplica filtro preto e branco */
  transition: filter 0.3s ease;  /* Transição suave */
}

/* Ao passar o mouse, remove o filtro (volta as cores) */
.card:hover {
  filter: grayscale(0%);
}
