body {
  background: url("dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* inicio da pagina */
header {
  background-color: #000000;
  padding: 15px;
  text-align: center;
}

/* barra de links */

ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0e141c;
}

ul.topnav li a {
  display: block;
  color: #fbf9e4;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {
  background-color: #061222;
  color: #58c0db;
  border-radius: 10px;
}
  
  
/* fotos */
  
.galeria {
  display: flex;
  justify-content: center;
  gap: 15px;
 
  }
  
 .galeria img {
   width: 250px;
   height: 250px;
   border-radius: 20px;
   cursor: pointer;
 
 }
 
 .galeria img:hover {
   transform: scale(1.05);
 }
 
 
/* roda-pe */
 
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8c0007;
  padding: 9px;
  text-align: center;
}

.footer-texto {
    flex: 1;
}

.footer-imagem {
    flex-shrink: 0;
    align-items: center;
}
